version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: inventory_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: inventory_pass
      POSTGRES_DB: inventory_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U inventory_user -d inventory_db']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
